<!--Pricing section -->
<section id="pricing" class="pricing">
  <div class="pricing-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="wow fadeInUp">Pricing</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <!-- Pricing plan -->
      <div class="col-sm-4">
        <div class="col-xs-12 pricing-box text-center wow fadeInUp">
          <!-- Plan name -->
          <h2>Early Bird</h2>
          <hr>
          <!-- Plan details -->
          <div class="pricing-box-content">
            <p>Lorem ipsum dolor sit amet</p>
            <p>Totam, expedita ab perferendis</p>
            <p>Mollitia adipisci facilis esse</p>
          </div>
          <hr>
          <h2>39 $</h2>
        </div>
      </div>
      <!-- End of Pricing plan -->

      <!-- Pricing plan -->
      <div class="col-sm-4">
        <div class=" col-xs-12 pricing-box text-center wow fadeInUp" data-wow-delay="0.2s">
          <h2>Pro</h2>
          <hr>
          <div class="pricing-box-content">
            <p>Consectetur adipisicing elit</p>
            <p>Perspiciatis sit inventore bla</p>
            <p>Fugiat quas tempora, labore, hi</p>
          </div>
          <hr>
          <h2>69 $</h2>
        </div>
      </div>
      <!-- End of Pricing plan -->

      <!-- Pricing plan -->
      <div class="col-sm-4">
        <div class=" col-xs-12 pricing-box text-center wow fadeInUp" data-wow-delay="0.4s">
          <h2>VIP</h2>
          <hr>
          <div class="pricing-box-content">
            <p>Magni placeat ipsam</p>
            <p>Dolorum distinctio veritatis q</p>
            <p>Necessitatibus ipsa ut</p>
          </div>
          <hr>
          <h2>99 $</h2>
        </div>
      </div>
      <!-- End of Pricing plan -->
    </div>
  </div>
</section>
<!-- End of Pricing section -->