extends layout

block content

  .page-header
    h1 Confirmation

  #logo
    img(src='../images/midwestjs-logo-400.png')

  p.lead Thank you for submitting a talk!

  p We will review your talk submission and get back to you.
