extends layout

block content

  .page-header
    h1 Confirmation

  #logo
    img(src='../images/midwestjs-logo-400.png')
    br
    br
    div(align='center')
      a(href='https://twitter.com/midwest_js')
        img(src='../images/twitter.png', width='50px')
      &nbsp;&nbsp;
      a(href='https://github.com/midwestjs')
        img(src='../images/github.jpg', width='50px')

  p.lead Thank you for submitting a talk!

  p Thank you for your speaker submission to the Midwest JS conference!  We really appreciate you being willing to present a talk!

  p We will be producing the conference schedule after the call-for-papers closes on Saturday, March 5th and will notify all selected speakers shortly thereafter.
