extends layout

block content

  .page-header
    h1 Confirmation

  #logo
    img(src='../images/midwestjs-logo-400.png')
    br
    br
    div(align='center')
      a(href='https://twitter.com/midwest_js')
        img(src='../images/twitter.png', width='50px')
      &nbsp;&nbsp;
      a(href='https://github.com/midwestjs')
        img(src='../images/github.jpg', width='50px')        

  p.lead Thank you for submitting a talk!

  p We will review your talk submission and get back to you.
