extends layout

block content

  .page-header
    h1 Contact

  #logo
    img(src='images/midwestjs-logo-400.png')

  p.lead By the community, For the community

  p 
    | Midwest JS is organized and run by members of the JavaScript community in their spare time. Please contact 
    | <a href='mailto:bobbywarner@gmail.com'>Bobby Warner</a> 
    | for more information about the conference.