extends layout

block content

  .page-header
    h1 Hotel

  #logo
    img(src='images/midwestjs-logo-400.png')
    br
    br
    div(align='center')
      a(href='https://twitter.com/midwest_js')
        img(src='images/twitter.png', width='50px')
      &nbsp;&nbsp;
      a(href='https://github.com/midwestjs')
        img(src='images/github.jpg', width='50px')

  p The conference hotel is the DoubleTree across the street from the University of St Thomas in downtown Minneapolis. There is a group rate for rooms which you can use by clicking the button below to go directly to the conference hotel page.

  p &nbsp;

  p.lead DoubleTree Suites by Hilton Hotel Minneapolis

  p 1101 LaSalle Avenue, Minneapolis, Minnesota 55403
  p 612-332-6800

  p &nbsp;

  a(href='http://doubletree.hilton.com/en/dt/groups/personalized/M/MSPLSDT-JS5-20150811/index.jhtml?WT.mc_id=POG', class='btn btn-default btn-lg', role='button') Book Your Hotel Room
