extends layout

block content
    #wrap
        #content
            img(src='images/midwestjs-logo-400.png')
            p
            p MidwestJS is a technology conference focusing on anything and everything related to the JavaScript ecosystem.
            p
            p August 14th & 15th, 2014 at the University of St Thomas in downtown Minneapolis, Minnesota.
            p
            p Please contact bobbywarner [at] gmail [dot] com for information about MidwestJS.
        #footer
            p Copyright &copy; 2013 MidwestJS
