extends layout

block content

  .page-header
    h1 Welcome

  #logo
    img(src='images/midwestjs-logo-400.png')
    br
    br
    div(align='center')
      a(href='https://twitter.com/midwest_js')
        img(src='images/twitter.png', width='50px')
      &nbsp;&nbsp;
      a(href='https://github.com/midwestjs')
        img(src='images/github.jpg', width='50px')

  p.lead August 14th & 15th in Minneapolis, Minnesota!

  p Midwest JS is a premier technology conference focused on the JavaScript ecosystem. The conference will be held for the first time in downtown Minneapolis at the University of St. Thomas.

  p There will be a variety of talks from well­known speakers in the community in a typical presentation format. Talks are categorized and structured based on the following tracks:

  ol
    li Beginner Track (JavaScript fundamentals, jQuery, jQuery UI, etc.)
    li Frameworks Track (Angular.js, Knockout.js, Ember.js, Backbone.js, etc.)
    li Node Track (anything based on Node.js)
    li Mobile­ Track (PhoneGap, Appcelerator, etc.)
    li Testing Track (TDD, Jasmine, etc.)
    li Miscellaneous Track (Anything that doesn't fit into the others)

  p There will be a social activity for all conference attendees and sponsors on the night of August 14th after the talks are done for the day and a small social activity planned for attendees on August 15th after the conference is done. The August 14th social activity is a happy hour at the University of St Thomas with prizes for attendees.

  div(align='center')
    a(href='https://maps.google.com/maps?q=University+of+St.Thomas+%E2%80%93+Minneapolis+Campus,+Lasalle+Avenue,+Minneapolis,+MN')
      img(src='images/map-small.png', class='map')
  p &nbsp;

  p
    | Midwest JS has adopted a
    | <a href='/code-of-conduct'>code of conduct</a>
    | for the conference and we encourage you to read it.

  p &nbsp;