extends layout

block content
    #header
        ul
            li
                a(href='/speakers') Speakers
            li
                a(href='/schedule') Schedule
            li
                a(href='/sponsors') Sponsors
            li
                a(href='/ticekts') Tickets
            li
                a(href='/contacts') Contacts
    #wrap
        #content
            img(src='images/midwestjs-logo-400.png')
            h1 August 14th & 15th, 2014
            h1 Minneapolis, Minnesota
            p
            p Please contact bobbywarner [at] gmail [dot] com for information about MidwestJS.

        #footer
            p &copy; 2013 MidwestJS. Website by 
                a(href='http://agileorbit.com', class='white') Agile Orbit
