extends layout

block content
    #wrap
        #content
            img(src='images/midwestjs-logo-400.png')
            p
            p MidwestJS is a technology conference in Minneapolis, Minnesota focusing on anything and everything related to the JavaScript ecosystem.
            p Please contact bobbywarner [at] gmail [dot] com for information about MidwestJS.
        #footer
            p Copyright &copy; 2013 MidwestJS
