extends layout

block content

  .page-header
    h1 Welcome

  #logo
    img(src='images/midwestjs-logo-400.png')
    br
    br
    div(align='center')
      a(href='https://twitter.com/midwest_js')
        img(src='images/twitter.png', width='50px')
      &nbsp;&nbsp;
      a(href='https://github.com/midwestjs')
        img(src='images/github.jpg', width='50px')

  p.lead August 10th, 11th & 12th, 2016 in Minneapolis, Minnesota!

  p Midwest JS is a premier technology conference focused on the JavaScript ecosystem. The conference has been a tremendous success the past two years and we hope to make it even better in 2016! The conference will be held in downtown Minneapolis at the University of St. Thomas.

  p There will be a variety of talks from well­known speakers in the community in a typical presentation format. Talks are categorized and structured based on the following tracks:

  ol
    li Beginner Track (JavaScript fundamentals, jQuery, jQuery UI, etc.)
    li Frameworks Track (Angular.js, React.js, Ember.js, Backbone.js, etc.)
    li Node Track (anything based on Node.js)
    li Mobile­ Track (PhoneGap, Appcelerator, etc.)
    li Testing Track (TDD, Jasmine, etc.)
    li Build Tools Track (Webpack, Gulp.js, Grunt.js, etc.)
    li Miscellaneous Track (Anything that doesn't fit into the others)

  p There will be social activities for all conference attendees and sponsors in the evenings on August 11th and August 12th after the talks are done for the day. The exact details around the social activity are still in the works.

  div(align='center')
    a(href='https://maps.google.com/maps?q=University+of+St.Thomas+%E2%80%93+Minneapolis+Campus,+Lasalle+Avenue,+Minneapolis,+MN')
      img(src='images/map-small.png', class='map')
  p &nbsp;

  p
    | Midwest JS has adopted a
    | <a href='/code-of-conduct'>code of conduct</a>
    | for the conference and we encourage you to read it.

  p &nbsp;
