doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', media='screen', href='/css/reset.css')
    link(href='http://fonts.googleapis.com/css?family=Russo+One|Open+Sans:400italic,700italic,400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', media='screen', href='/css/style.css')
  body
    block content
    script(src='/js/jquery-1.10.2.min.js')
