doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='http://fonts.googleapis.com/css?family=Russo+One|Open+Sans:400italic,700italic,400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', media='screen', href='/css/bootstrap.min.css')
    link(rel='stylesheet', media='screen', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', media='screen', href='/css/style.css')
    <!--[if lt IE 9]>
    script(src='/js/html5shiv.js')
    script(src='/js/respond.min.js')
    <![endif]-->
  body
    block content
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/bootstrap.min.js')
