extends layout

block content

  .page-header
    h1 Schedule

  p.lead Stay Tuned!

  p The call for papers closes in February and the conference schedule will be posted in early March!

  p &nbsp;
  p &nbsp;
