extends layout

block content

  .page-header
    h1 Schedule

  h3 Wednesday, August 13th - Workshop Day
  
  div.row.row-header
    div.col-md-2 Time
    div.col-md-4 Node.js Track
    div.col-md-4 Angular.js Track
  div.row
    div.col-md-2 9:00 am
    div.col-md-4 Introduction to Node.js (Kevin Whinnery)
    div.col-md-4 Project Layout and Tools / Angular Bootcamp (Kevin Bosak & Bruce Coddington)
  div.row.row-even
    div.col-md-2 12:00 pm
    div.col-md-8 Lunch
  div.row
    div.col-md-2 1:00 pm
    div.col-md-4 Building Node Web Applications with LoopBack (Ritchie Martori)
    div.col-md-4 Unit testing with Karma and Jasmine / Routing and RESTful resources (Kevin Bosak & Bruce Coddington)
  div.row.row-even
    div.col-md-2 7:00 pm
    div.col-md-8 Speaker Dinner    

  h3 Thursday, August 14th - Conference Day 1
  
  div.row.row-header
    div.col-md-2 Time
    div.col-md-2 Frameworks
    div.col-md-2 Beginner
    div.col-md-2 Node
    div.col-md-2 Miscellaneous
  div.row
    div.col-md-2 8:00 am
    div.col-md-8 Registration and Breakfast (Coffee & Pastries)
  div.row.row-even
    div.col-md-2 9:00 am
    div.col-md-8 Keynote: Titanium (Jeff Haynie)
  div.row
    div.col-md-2 10:00 am
    div.col-md-8 Coffee & Snacks Break
  div.row.row-even
    div.col-md-2 10:30 am  
    div.col-md-2 Intro to Angular.js (John Culviner)
    div.col-md-2 Building with Javascript - featuring npm, grunt, bower, and yeoman (Ryan Jarvinen)
    div.col-md-2 The Art of Node - An Introduction to Node.js (James Greene)
    div.col-md-2 JavaScript Promises in Depth (Aaron Eischeid)
  div.row
    div.col-md-2 11:30 am
    div.col-md-2 The Conventions Ember.js Provides To Make You Happy and Productive (Stefan Penner)
    div.col-md-2 Introduction to Chrome Developer Tools (Sony Seng)
    div.col-md-2 Promises, Generators and Callbacks! Oh my! (Mike Frey)
    div.col-md-2 Server-Side JavaScript with Nashorn (Dan Woods)
  div.row.row-even
    div.col-md-2 12:30 pm
    div.col-md-8 Lunch
  div.row
    div.col-md-2 1:30 pm
    div.col-md-2 Angular Testing with Jasmine and Karma (Zan Thrash)
    div.col-md-2 The MinnPost Stack (Alan Palazzolo)
    div.col-md-2 Web Security in Single Page Apps and Node.js (Mark Stuart)
    div.col-md-2 Browserify: All The Things (Shane Stillwell)
  div.row.row-even
    div.col-md-2 2:30 pm
    div.col-md-2 Building Apps With Ember.js (Ray Tiley)
    div.col-md-2 Accessibility is a Feature You Can Build - A Guided Tour to Demystify a11y Basics (Monika Piotrowicz)
    div.col-md-2 Deploying Node.js to Azure (Adam Grocholski)
    div.col-md-2 An Intro to Data Visualization with D3.js (Kristina Durivage)
  div.row
    div.col-md-2 3:30 pm
    div.col-md-8 Coffee & Snacks Break
  div.row.row-even
    div.col-md-2 4:00 pm
    div.col-md-2 Why You Should Be Using The Flight framework (Kassandra Perch)
    div.col-md-2 
    div.col-md-2 Flying Robots with the HTML 5 Gamepad API (Kevin Whinnery)
    div.col-md-2 Whirlwind Tour of Scalable Vector Graphics (Marc Grabanski)
  div.row
    div.col-md-2 5:00 pm
    div.col-md-8 Happy Hour


  h3 Friday, August 15th - Conference Day 2
  
  div.row.row-header
    div.col-md-2 Time
    div.col-md-2 Frameworks
    div.col-md-2 Mobile
    div.col-md-2 Testing
    div.col-md-2 Miscellaneous
  div.row
    div.col-md-2 8:00 am
    div.col-md-10 Breakfast (Coffee & Pastries)
  div.row.row-even
    div.col-md-2 9:00 am  
    div.col-md-2 Reconciling React as a View Layer Replacement (Zach Lendon)
    div.col-md-2 Cross-Platform Mobile Development with PhoneGap (Vince Bullinger)
    div.col-md-2 Zero to Testing in JavaScript (Pam Selle)
    div.col-md-2 Single Page Applications - the Web's Horseless Carriage (Trek Glowacki)
  div.row
    div.col-md-2 10:00 am
    div.col-md-8 Coffee & Snacks Break
  div.row.row-even
    div.col-md-2 10:30 am  
    div.col-md-2 Let Knockout Knock Your Socks Off (Jonathan Sundquist)
    div.col-md-2 Liger - Truly Hybrid App Development (Brad Marsh)
    div.col-md-2 JavaScript Test-driven Development using Jasmine and Karma (Chris Bartling)
    div.col-md-2 Using TypeScript To Build Better JavaScript Apps (Kurt Wiersma)
  div.row
    div.col-md-2 11:30 am
    div.col-md-2 Large Angular Projects - A Postmortem (Will Buck & Zach Legein)
    div.col-md-2 Cross-Platform Mobile Development with the Appcelerator Framework (Vince Bullinger)
    div.col-md-2 Testing JavaScript with Jasmine (Aaron Eischeid)
    div.col-md-2 Improving Application UX with Genie.js (Kent Dodds)
  div.row.row-even
    div.col-md-2 12:30 pm
    div.col-md-8 Lunch
  div.row
    div.col-md-2 1:30 pm
    div.col-md-2 Ember Components Transclude My Directives (John Paul)
    div.col-md-2 Building Hybrid Apps with AngularJS and Ionic (Adam Bradley)
    div.col-md-2 Traces of Errors - Getting Better JavaScript Stacktraces (Todd Gardner)
    div.col-md-2 Combining D3 with AngularJS (Jon DeJong)
  div.row.row-even
    div.col-md-2 2:30 pm
    div.col-md-2 Getting RESTless with MeteorJS (Ryan Jarvinen)
    div.col-md-2 EnyoJS: A Scalable Code Base (Derek Anderson)
    div.col-md-2 And benchmarks for all! (Alex Navasardyan)
    div.col-md-2 
  div.row
    div.col-md-2 3:30 pm
    div.col-md-8 Coffee & Snacks Break
  div.row.row-even
    div.col-md-2 4:00 pm
    div.col-md-8 Keynote: LoopBack (Ritchie Martori)

  p &nbsp;
  p &nbsp;
