extends layout

block content

  .page-header
    h1 Speakers

  #logo
    img(src='images/midwestjs-logo-400.png')

  p.lead Call for papers is now closed.

  p Tickets go on sale Saturday, March 19th at 5pm CST.

  p &nbsp;
  p &nbsp;
