extends layout

block content

  .page-header
    h1 Keynotes

  div.row
    div.col-md-4.speaker
      h3 Jeff Haynie
      p Appcelerator
    div.col-md-4.speaker
      h3 Ritchie Martori
      p StrongLoop
    div.col-md-4.speaker
      h3 Venkat Subramanian
      p Agile Developer

  .page-header
    h1 Speakers

  div.row
    div.col-md-4.speaker
      h3 Aaron Eischeid
      p Testing JavaScript with Jasmine
      p JavaScript Promises in Depth
    div.col-md-4.speaker
      h3 Adam Bradley
      p Building Hybrid Apps with AngularJS and Ionic
    div.col-md-4.speaker
      h3 Adam Grocholski
      p Deploying Node.js to Azure

  div.row
    div.col-md-4.speaker
      h3 Alan Palazzolo
      p The MinnPost Stack
    div.col-md-4.speaker
      h3 Alex Navasardyan
      p And benchmarks for all!
    div.col-md-4.speaker
      h3 Brad Marsh
      p Liger - Truly Hybrid App Development

  div.row
    div.col-md-4.speaker
      h3 Brian Holt
      p Using Web Components. Now. In Production.
    div.col-md-4.speaker
      h3 Chris Bartling
      p JavaScript Test-driven Development using Jasmine and Karma
    div.col-md-4.speaker
      h3 Daniel Woods
      p Server-Side JavaScript with Nashorn

  div.row
    div.col-md-4.speaker
      h3 Derek Anderson
      p EnyoJS: A Scalable Code Base
    div.col-md-4.speaker
      h3 James Greene
      p The Art of Node: An Introduction to Node.js
    div.col-md-4.speaker
      h3 John Culviner
      p Intro to Angular.js

  div.row
    div.col-md-4.speaker
      h3 John Paul
      p Ember Components Transclude My Directives
    div.col-md-4.speaker
      h3 Jon DeJong
      p Combining D3 with AngularJS
    div.col-md-4.speaker
      h3 Jonathan Sundquist
      p Let Knockout Knock Your Socks Off

  div.row
    div.col-md-4.speaker
      h3 Kassandra Perch
      p Why You Should Be Using The Flight framework
    div.col-md-4.speaker
      h3 Kristina Durivage
      p An Intro to Data Visualization with D3.js
    div.col-md-4.speaker
      h3 Kurt Wiersma
      p Using TypeScript To Build Better JavaScript Apps

  div.row
    div.col-md-4.speaker
      h3 Marc Grabanski
      p Whirlwind Tour of Scalable Vector Graphics
    div.col-md-4.speaker
      h3 Mark Stuart
      p Web Security in Single Page Apps and Node.js
    div.col-md-4.speaker
      h3 Mike Frey
      p Promises, Generators and Callbacks! Oh my!

  div.row
    div.col-md-4.speaker
      h3 Monika Piotrowicz
      p Accessibility is a Feature You Can Build - A Guided Tour to Demystify a11y Basics
    div.col-md-4.speaker
      h3 Pam Selle
      p Zero to Testing in JavaScript
    div.col-md-4.speaker
      h3 Ray Tiley
      p Building Apps With Ember.js

  div.row
    div.col-md-4.speaker
      h3 Sony Seng
      p Introduction to Chrome Developer Tools
    div.col-md-4.speaker
      h3 Stefan Penner
      p The Conventions Ember.js Provides To Make You Happy and Productive
    div.col-md-4.speaker
      h3 Todd Gardner
      p Traces of Errors: Getting Better JavaScript Stacktraces

  div.row
    div.col-md-4.speaker
      h3 Trek Glowacki
      p Single Page Applications: the Web's Horseless Carriage
    div.col-md-4.speaker
      h3 Venkat Subramaniam
      p Rediscovering JavaScript
    div.col-md-4.speaker
      h3 Vince Bullinger
      p Cross-Platform Mobile Development with the Appcelerator Framework
      p Cross-Platform Mobile Development with PhoneGap

  div.row
    div.col-md-4.speaker
      h3 Will Buck
      p Large Angular Projects - A Postmortem
    div.col-md-4.speaker
      h3 Zach Lendon
      p Reconciling React as a View Layer Replacement
    div.col-md-4.speaker
      h3 Zan Thrash
      p Angular Testing with Jasmine and Karma

  p &nbsp;
  p &nbsp;
