extends layout

block content

  .page-header
    h1 Speakers

  #logo
    img(src='images/midwestjs-logo-400.png')

  p.lead Call for papers is now closed

  p We are now working on selecting the talks for the conference and preparing the schedule!

  p &nbsp;
  p &nbsp;
