extends layout

block content

  .page-header
    h1 Speakers

  #logo
    img(src='images/midwestjs-logo-400.png')
    br
    br
    div(align='center')
      a(href='https://twitter.com/midwest_js')
        img(src='images/twitter.png', width='50px')
      &nbsp;&nbsp;
      a(href='https://github.com/midwestjs')
        img(src='images/github.jpg', width='50px')

  p.lead Stay Tuned!

  p The call for papers is closed and speakers will be announced soon!

  p &nbsp;

  p &nbsp;
