extends layout

block content

  .page-header
    h1 Sponsors

  p.lead Thank you to our corporate sponsors for their support!

  p
    a(href='http://agileorbit.com')
      img(src='images/logo-agileorbit.jpg')
  p Agile Orbit is an technology consulting firm specializing in enterprise architecture, web development, mobile development and infrastructure automation.
  p We bring web and mobile technology to life using innovative and cost-effective solutions. We architect, develop and deliver software solutions for our customers using agile development best practices and coach teams on integrating continuous delivery into their projects.
  p &nbsp;
  p
    a(href='https://codewithtarget.com')
      img(src='images/logo-target.jpg')
  p Target is building a domestic engineering team at our Headquarters in Minneapolis Minnesota.  This is one of many strategic changes happening around us every day. Today is the day to be involved in something that will not only change our culture but also the face of retail. We need strong technical talent like you. Join us! -- <a href='https://codewithtarget.com'>https://codewithtarget.com</a>
  p &nbsp;
  p
    a(href='http://objectpartners.com')
      img(src='images/logo-objectpartners-2015.png', style='width: 400px; height: 144px;')
  p Object Partners, Inc is an IT consulting firm specializing in enterprise application development services since 1996. Our success is based on a model of full-time employees with a strategic focus on utilizing both emerging and mature open source technologies to help clients deliver high quality software on time and within budget. Most recently, OPI has successfully built and deployed numerous large-scale consumer facing Grails/Angular applications, as well as several enterprise applications for various Android and iOS devices.

  p Our deep roots in the JEE stack translate into open source expertise and a fundamental knowledge of how to build applications that are scalable, reliable, and can be easily maintained. Our services include project outsourcing, co-development, staff augmentation, and technology and process mentoring.
  p &nbsp;
