extends layout

block content

  .page-header
    h1 Sponsors

  p.lead Thank you to our corporate sponsors for their support!

  p
    a(href='http://solutiondesign.com')
      img(src='images/logo-sdg.jpg')
  p Solution Design Group, Inc. (sdg) is an IT consulting and custom application development firm. With over 120 full-time consultants, we deliver IT solutions around Microsoft and Open Source technologies and utilize our Project Delivery Team to help round out these service offerings. sdg was named one of the Best Places to Work in the Twin Cities for the past 8 years and was voted #1 in the mid-sized company category for the last two years. In addition, sdg became 100% employee-owned at the beginning of this year – something we’re pretty excited about. We have been around since 1989 and are currently located in Golden Valley, MN.
  p &nbsp;
  p
    a(href='https://www.braintreepayments.com')
      img(src='images/logo-braintree.png', width='400px')
  p Braintree provides the easiest way to pay and get paid across any device. With one integration, merchants can start accepting credit and debit cards, PayPal, Apple Pay, Android Pay, Venmo, and whatever comes next. Thousands of online and mobile companies including Uber, Airbnb, and GithHub use Braintree in more than 45 countries. To learn more, visit
    | <a href="https://www.braintreepayments.com">braintreepayments.com</a>
    | or
    | <a href="https://twitter.com/@braintree">@braintree</a>.
  p &nbsp;
  p
    a(href='https://codewithtarget.com')
      img(src='images/logo-target.jpg')
  p With a digital career at Target, you’ll help transform one of the nation’s most-loved brands. Develop innovative solutions, leverage cutting-edge technologies to make our platforms even better, or drive this critical work forward through marketing or project management. If you are a developer, check out <a href='https://codewithtarget.com'>https://CodeWithTarget.com</a>.
  p &nbsp;
  p
    a(href='http://objectpartners.com')
      img(src='images/logo-objectpartners.png', style='width: 400px;')
  p Object Partners develops custom web and mobile applications using Java, JavaScript, Groovy, iOS, Android, and hybrid mobile platforms. We’ve become the go to Grails consulting company and training partner for clients all over the US, as well as a technology leader in building modern front-end applications with technologies like Angular, React, and Bootstrap. Our enterprise experience means deep knowledge of real time data architecture, development, and messaging. We also have a high level of expertise in end-to-end development automation with technologies such as Gradle and Docker deployed on Cloud Services such as AWS.

  p We have a 19 year history of success because we hire the best full-time developers and retain those developers and knowledge through our technology driven, non bureaucratic culture and phenomenal benefits. We use proven processes, technologies, and tools to fit within our client’s domain and enterprise architecture and work collaboratively with the business while building performant, scalable, maintainable applications.
  p &nbsp;
  p
    a(href='http://leadpages.net')
      img(src='images/logo-leadpages.png')
  p Leadpages creates elegant software that helps businesses grow by collecting more leads and driving more sales. Our platform offers more ways to engage potential customers than anyone in the industry, and it’s the only one that enables sign-ups via landing pages, websites, social media, email, and text messaging. To do all this, we use the Aurelia framework for frontend development, and run a Python stack on top of Google App Engine with a wide variety of other technologies, from JavaScript to Cassandra to Consul.
  p Three years after its founding, Leadpages serves more than 40,000 customers with the help of 150+ employees, most of whom work from LeadPages' beautiful loft space in the Warehouse District of downtown Minneapolis.
  p &nbsp;
  p
    a(href='http://www.microsoft.com')
      img(src='images/logo-microsoft.png', width='450px')
  p Founded in 1975, Microsoft is the worldwide leader in software, services and solutions that help people and businesses realize their full potential through differentiated cloud innovations, comprehensive mobile productivity solutions and developer tools.
  p &nbsp;  
  p
    a(href='http://agileorbit.com')
      img(src='images/logo-agileorbit.jpg')
  p Agile Orbit is an technology consulting firm specializing in enterprise architecture, web development, mobile development and infrastructure automation.
  p We bring web and mobile technology to life using innovative and cost-effective solutions. We architect, develop and deliver software solutions for our customers using agile development best practices and coach teams on integrating continuous delivery into their projects.
  p &nbsp;
