extends layout

block content

  .page-header
    h1 Sponsors

  p.lead Thank you to our corporate sponsors for their support!

  p
    a(href='http://objectpartners.com')
      img(src='images/logo-objectpartners.png', style='width: 400px; height: 144px;')
  p Object Partners, Inc is an IT consulting firm specializing in enterprise application development services since 1996. Our success is based on a model of full-time employees with a strategic focus on utilizing both emerging and mature open source technologies to help clients deliver high quality software on time and within budget. Most recently, OPI has successfully built and deployed numerous large-scale consumer facing Grails/Angular applications, as well as several enterprise applications for various Android and iOS devices.

  p Our deep roots in the JEE stack translate into open source expertise and a fundamental knowledge of how to build applications that are scalable, reliable, and can be easily maintained. Our services include project outsourcing, co-development, staff augmentation, and technology and process mentoring.
  p &nbsp;

  p
    a(href='http://twilio.com')
      img(src='images/logo-twilio.png')
  p We empower developers to build powerful communication.

  p Twilio powers the future of business communications, enabling phones, VoIP, and messaging to be embedded into web, desktop, and mobile software. We take care of the messy telecom hardware and expose a globally available cloud API that developers can interact with to build intelligent & complex communications systems. As your app’s usage scales up or down, Twilio automatically scales with you. You only pay for what you use - no contracts, no shenanigans.
  p &nbsp;

  p
    a(href='http://gobloomhealth.com')
      img(src='images/logo-bloom.png', width='400px')
  p We're Bloom Health, a new kind of benefits company.

  p At Bloom we're proud of our open and collaborative culture, a place where people are eager to share what they know and learn from others. We believe in Agile principles and empowering developers to use tools they love on small teams to make a big impact. Whether you're enthusiastic about creating interactive user experiences, building highly available web services or architecting a cloud-based infrastructure, we have an opportunity for you.
  p &nbsp;

  p
    a(href='http://strongloop.com')
      img(src='images/logo-strongloop.png', width='400px')
  p StrongLoop is the leading contributor to the upcoming Node.js v0.12. For developers creating APIs, StrongLoop offers LoopBack, an open source Node.js API framework for connecting devices and apps to data. StrongLoop also offers StrongOps, the leading DevOps tool for clustering, monitoring and optimizing Node applications. StrongLoop runs on all major operating systems including eight clouds like Amazon, Heroku, Red Hat’s OpenShift and Rackspace. For more information, visit: <a href='http://strongloop.com'>strongloop.com</a>
  p &nbsp;

  p
    a(href='http://www.corvisacloud.com')
      img(src='images/logo-corvisacloud.jpg')
  p CorvisaCloud provides a cloud-based communications platform for voice and SMS that developers love. Our fully-hosted solution offers testing and deployment that’s built into the way you already work, so you can spend less time troubleshooting and more time building great things.
  p &nbsp;
  
  p
    a(href='http://flexion.us')
      img(src='images/logo-flexion.png')
  p Flexion in an accomplished, professional services provider, privately held with offices in Madison and Milwaukee, WI, Minneapolis, MN and Washington D.C. We provide real world IT solutions for public and private enterprises by utilizing industry proven development tools, recruiting techniques and by taking time to fully understand our customers requirements. If you’re interested in delivering best-in-class solutions and joining a team of 150+ specialized experts, we’ve got opportunities for you!
  p &nbsp;

  p
    a(href='https://codewithtarget.com')
      img(src='images/logo-target.jpg')
  p Target is building a domestic engineering team at our Headquarters in Minneapolis Minnesota.  This is one of many strategic changes happening around us every day. Today is the day to be involved in something that will not only change our culture but also the face of retail. We need strong technical talent like you. Join us.
  p &nbsp;

  p
    a(href='http://oreilly.com')
      img(src='images/logo-oreilly.gif')
  p Technology Books, Tech Conferences, IT Courses & News
  p O'Reilly spreads the knowledge of innovators through its technology books, online services, magazines, research, and tech conferences. Since 1978, O'Reilly has been a chronicler and catalyst of leading-edge development, homing in on the technology trends that really matter and galvanizing their adoption by amplifying "faint signals" from the alpha geeks who are creating the future. An active participant in the technology community, O'Reilly has a long history of advocacy, meme-making, and evangelism.
  p &nbsp;

  p
    a(href='http://penton.com')
      img(src='images/logo-penton.png', width='400px')
  p Whether helping pilots understand the latest aviation products, connecting natural products manufacturers to the most cost effective ingredient suppliers, or keeping engineers up-to-date on new efficient designs, Penton's leading business information brands are the vital source for business.  At Penton, we are all about providing relevant information and connections at the right time, in the right environment. Our solutions are tailored to the needs of our users, which is why they take so many forms – digital, data, print and live events. Today, more than seven million professionals rely on Penton products for the information needed to compete and the connections needed to succeed. 
  p &nbsp;
  
  p
    a(href='http://agileorbit.com')
      img(src='images/logo-agileorbit.jpg')
  p Agile Orbit is an technology consulting firm specializing in enterprise architecture, web development, mobile development and infrastructure automation.
  p We bring web and mobile technology to life using innovative and cost-effective solutions. We architect, develop and deliver software solutions for our customers using agile development best practices and coach teams on integrating continuous delivery into their projects.
  p &nbsp;
