extends layout

block content

  .page-header
    h1 Sponsors

  p.lead Thank you to our corporate sponsors for their support!

  p
    a(href='http://solutiondesign.com')
      img(src='images/logo-sdg.jpg')
  p Solution Design Group, Inc. (sdg) is an IT consulting and custom application development firm located in Golden Valley, MN. We have over 120 full-time consultants that specialize in Open Source and Microsoft technologies, as well as Project Delivery capabilities.  sdg was named a Best Place to Work in the Twin Cities for the past 7 years, and we were voted #1 in the mid-sized company category last year. Whether we’re planning, designing or developing custom solutions, our team has focused on delivering the best possible solutions for our customers since 1989.
  p &nbsp;
  p
    a(href='http://objectpartners.com')
      img(src='images/logo-objectpartners.png', style='width: 400px;')
  p Object Partners develops custom web and mobile applications using Java, JavaScript, Groovy, iOS, Android, and hybrid mobile platforms. We’ve become the go to Grails consulting company and training partner for clients all over the US, as well as a technology leader in building modern front-end applications with technologies like Angular, React, and Bootstrap. Our enterprise experience means deep knowledge of real time data architecture, development, and messaging. We also have a high level of expertise in end-to-end development automation with technologies such as Gradle and Docker deployed on Cloud Services such as AWS.

  p We have a 19 year history of success because we hire the best full-time developers and retain those developers and knowledge through our technology driven, non bureaucratic culture and phenomenal benefits. We use proven processes, technologies, and tools to fit within our client’s domain and enterprise architecture and work collaboratively with the business while building performant, scalable, maintainable applications.
  p &nbsp;
  p
    a(href='http://agileorbit.com')
      img(src='images/logo-agileorbit.jpg')
  p Agile Orbit is an technology consulting firm specializing in enterprise architecture, web development, mobile development and infrastructure automation.
  p We bring web and mobile technology to life using innovative and cost-effective solutions. We architect, develop and deliver software solutions for our customers using agile development best practices and coach teams on integrating continuous delivery into their projects.
  p &nbsp;
