extends layout

block content

  .page-header
    h1 Sponsors

  p.lead Thank you to our corporate sponsors for their support!

  p
    a(href='http://solutiondesign.com')
      img(src='images/logo-sdg.jpg')
  p Solution Design Group, Inc. (sdg) is an IT consulting and custom application development firm. With over 120 full-time consultants, we deliver IT solutions around Microsoft and Open Source technologies and utilize our Project Delivery Team to help round out these service offerings. sdg was named one of the Best Places to Work in the Twin Cities for the past 8 years and was voted #1 in the mid-sized company category for the last two years. In addition, sdg became 100% employee-owned at the beginning of this year – something we’re pretty excited about. We have been around since 1989 and are currently located in Golden Valley, MN.
  p &nbsp;
  p
    a(href='http://objectpartners.com')
      img(src='images/logo-objectpartners.png', style='width: 400px;')
  p Object Partners develops custom web and mobile applications using Java, JavaScript, Groovy, iOS, Android, and hybrid mobile platforms. We’ve become the go to Grails consulting company and training partner for clients all over the US, as well as a technology leader in building modern front-end applications with technologies like Angular, React, and Bootstrap. Our enterprise experience means deep knowledge of real time data architecture, development, and messaging. We also have a high level of expertise in end-to-end development automation with technologies such as Gradle and Docker deployed on Cloud Services such as AWS.

  p We have a 19 year history of success because we hire the best full-time developers and retain those developers and knowledge through our technology driven, non bureaucratic culture and phenomenal benefits. We use proven processes, technologies, and tools to fit within our client’s domain and enterprise architecture and work collaboratively with the business while building performant, scalable, maintainable applications.
  p &nbsp;
  p
    a(href='http://agileorbit.com')
      img(src='images/logo-agileorbit.jpg')
  p Agile Orbit is an technology consulting firm specializing in enterprise architecture, web development, mobile development and infrastructure automation.
  p We bring web and mobile technology to life using innovative and cost-effective solutions. We architect, develop and deliver software solutions for our customers using agile development best practices and coach teams on integrating continuous delivery into their projects.
  p &nbsp;
