extends layout

block content

  .page-header
    h1 Sponsors

  p.lead Thank you to our corporate sponsors for their support!

  p
    a(href='http://agileorbit.com')
      img(src='images/logo-agileorbit.jpg')
  p Agile Orbit is an technology consulting firm specializing in enterprise architecture, web development, mobile development and infrastructure automation.
  p We bring web and mobile technology to life using innovative and cost-effective solutions. We architect, develop and deliver software solutions for our customers using agile development best practices and coach teams on integrating continuous delivery into their projects.
  p &nbsp;
  p
    a(href='https://codewithtarget.com')
      img(src='images/logo-target.jpg')
  p Target is building a domestic engineering team at our Headquarters in Minneapolis Minnesota.  This is one of many strategic changes happening around us every day. Today is the day to be involved in something that will not only change our culture but also the face of retail. We need strong technical talent like you. Join us! -- <a href='https://codewithtarget.com'>https://codewithtarget.com</a>
  p &nbsp;
  p
    a(href='http://objectpartners.com')
      img(src='images/logo-objectpartners.png', style='width: 400px;')
  p Object Partners, Inc is an IT consulting firm specializing in enterprise application development services since 1996. Our success is based on a model of full-time employees with a strategic focus on utilizing both emerging and mature open source technologies to help clients deliver high quality software on time and within budget. Most recently, OPI has successfully built and deployed numerous large-scale consumer facing Grails/Angular applications, as well as several enterprise applications for various Android and iOS devices.

  p Our deep roots in the JEE stack translate into open source expertise and a fundamental knowledge of how to build applications that are scalable, reliable, and can be easily maintained. Our services include project outsourcing, co-development, staff augmentation, and technology and process mentoring.
  p &nbsp;
  p
    a(href='https://www.braintreepayments.com')
      img(src='images/logo-braintree.png', width='400px')
  p Braintree allows you to easily accept payments in your app or website. We power payments for awesome companies like Uber, AirBnB, and Basecamp. Braintree was born in Chicago and now has offices all over the world, including New York, London, and San Francisco.
  p &nbsp;
  p
    a(href='http://strongloop.com')
      img(src='images/logo-strongloop.png', width='400px')
  p StrongLoop is the leading contributor to the upcoming Node.js v0.12. For developers creating APIs, StrongLoop offers LoopBack, an open source Node.js API framework for connecting devices and apps to data. StrongLoop also offers StrongOps, the leading DevOps tool for clustering, monitoring and optimizing Node applications. StrongLoop runs on all major operating systems including eight clouds like Amazon, Heroku, Red Hat’s OpenShift and Rackspace. For more information, visit: <a href='http://strongloop.com'>strongloop.com</a>
  p &nbsp;
  p
    a(href='http://solutiondesign.com')
      img(src='images/logo-sdg.jpg')
  p Solution Design Group, Inc. (sdg) is an IT consulting and custom application development firm located in Golden Valley, MN. We have over 120 full-time consultants that specialize in Open Source and Microsoft technologies, as well as Project Delivery capabilities.  sdg was named a Best Place to Work in the Twin Cities for the past 7 years, and we were voted #1 in the mid-sized company category last year. Whether we’re planning, designing or developing custom solutions, our team has focused on delivering the best possible solutions for our customers since 1989.
  p &nbsp;
  p
    a(href='http://workfront.com')
      img(src='images/logo-workfront.png', width='450px')
  p Workfront is a cloud-based Enterprise Work Management solution designed to help enterprise teams—from IT to Marketing, to company leadership—eliminate the typical chaos of work and gain greater visibility company wide. Workfront covers the entire lifecycle of work, from request to report, in one easily adoptable platform.
  p &nbsp;
  p
    a(href='http://www.microsoft.com')
      img(src='images/logo-microsoft.png', width='450px')
  p Founded in 1975, Microsoft is the worldwide leader in software, services and solutions that help people and businesses realize their full potential through differentiated cloud innovations, comprehensive mobile productivity solutions and developer tools.
  p &nbsp;
  p
    a(href='http://gobloomhealth.com')
      img(src='images/logo-bloom.png', width='400px')
  p We're Bloom Health, a new kind of benefits company.
  p At Bloom we're proud of our open and collaborative culture, a place where people are eager to share what they know and learn from others. We believe in Agile principles and empowering developers to use tools they love on small teams to make a big impact. Whether you're enthusiastic about creating interactive user experiences, building highly available web services or architecting a cloud-based infrastructure, we have an opportunity for you.
  p &nbsp;
