extends layout

block content

  .page-header
    h1 Sponsors

  p.lead Thank you to our corporate sponsors for their support!

  p
    a(href='http://agileorbit.com')
      img(src='images/logo-agileorbit.jpg')
  p Agile Orbit is an technology consulting firm specializing in enterprise architecture, web development, mobile development and infrastructure automation.
  p We bring web and mobile technology to life using innovative and cost-effective solutions. We architect, develop and deliver software solutions for our customers using agile development best practices and coach teams on integrating continuous delivery into their projects.
  p &nbsp;
  p &nbsp;
