extends layout

block content

  .page-header
    h1 Tickets

  #logo
    img(src='images/midwestjs-logo-400.png')
    br
    br
    div(align='center')
      a(href='https://twitter.com/midwest_js')
        img(src='images/twitter.png', width='50px')
      &nbsp;&nbsp;
      a(href='https://github.com/midwestjs')
        img(src='images/github.jpg', width='50px')        

  p.lead Tickets on-sale now!

  p Please click the button below to purchase your ticket for Midwest JS 2014 over on Tito!

  p &nbsp;

  a(href='https://ti.to/midwestjs/2014', class='btn btn-default btn-lg', role='button') Buy Tickets
