extends layout

block content

  .page-header
    h1 Venue

  #logo
    img(src='images/midwestjs-logo-400.png')
    br
    br
    div(align='center')
      a(href='https://twitter.com/midwest_js')
        img(src='images/twitter.png', width='50px')
      &nbsp;&nbsp;
      a(href='https://github.com/midwestjs')
        img(src='images/github.jpg', width='50px')

  p The conference venue is the University of St. Thomas downtown Minneapolis campus in Schulze Hall.

  p &nbsp;

  p.lead Conference Location

  p University of St Thomas - Schulze Hall
  p 46 11th Street South, Minneapolis, MN 55403
  p
    a(href='http://www.stthomas.edu/business/visitors/campuses/')
      strong Website

  p &nbsp;

  p.lead Parking

  p Harmon Public Parking Ramp
  p 25 11th Street South, Minneapolis, MN 55403
  p
    a(href='http://www.minneapolismn.gov/parking/ramps/parking_harmon')
      strong Website

  p &nbsp;
  p &nbsp;
