a:link, a:visited {
    text-decoration: underline;
    color: #603813;
}

a:hover, a:active {
    text-decoration: none;
    color: #603813;
}

#header {
    text-align: center;
    background-color: #603813;
    height: 50px;
    margin: 0 0 40px 0;
    padding: 10px 0 0 0;
    color: #FFFFFF;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    min-width: 900px;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header li {
    display: inline;
}

#header a {
    display: inline-block;
    border-bottom: none;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: #FFFFFF;   
}

#wrap {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    line-height: 150%   ;
}

#homeLogo {
    padding: 0 0 50px 0;
    text-align: center;
}

#content {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 40px;
}

#footer {
    background-color: #603813;
    color: #FFFFFF;
    padding: 10px 0 0 10px;
    height : 30px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 36px;
    color: #603813;
    margin: 15px 0 15px 0;
}

p {
    margin: 0 0 15px 0;
}

img.map {
    border: 1px solid #cccccc;
    padding: 5px;
}

ol {
    list-style-type: decimal;
    margin: 0 0 15px 25px;
}
