<!--Speakers section -->
<section id="speakers" class="speakers">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="wow fadeInUp">Speakers</h1>
      </div>
    </div>

    <div class="row">

      <div class="speaker-details col-sm-6 col-xs-12" *ngFor="let speaker of speakers">
        <!-- Speaker -->
        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 wow fadeInUp">
          <!-- Speaker social links -->
          <div class="speaker-social-links text-center">
            <a href="{{speaker.twitter}}"><i class="fa fa-twitter wow bounceIn"></i></a>
            <a href="{{speaker.github}}"><i class="fa fa-github wow bounceIn"></i></a>
          </div>
          <!-- Speaker image -->
          <img src="http://placehold.it/500x500" alt="John Doe" class="img-responsive">
        </div>
        <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 wow fadeInUp" data-wow-delay="0.2s">
          <!-- Speaker name -->
          <h2>{{speaker.fullName}}</h2>
          <!-- Speaker position -->
          <h4>{{speaker.employer}}</h4>
          <!-- Speaker description -->
          <p>{{speaker.bio}}</p>
        </div>
        <!-- End of Speaker -->
      </div>

    </div>
  </div>
</section>
<!-- End of Speakers section -->