.container-speaker {
    width:1200px;
}

#main-content{
    min-height: 100%;
    height: auto;
}

#main-content > .row {
    overflow-x:visible;
    overflow-y:visible;
    white-space:nowrap;
}

#main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
    float:left;
    display:inline-block;
    overflow: hidden;
    height: 250px;
}

#main-content .speaker-bio{
    white-space: normal;
}

#main-content .speaker-bio h2{
    font-size: 25px;

}
