<!--Speakers section -->
<section id="speakers" class="speakers">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="wow fadeInUp">Speakers</h1>
      </div>
    </div>
  </div>
  <div class="speaker-details ">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 wow fadeInUp">
        <div class="speaker-social-links text-center">
          <a href="https://twitter.com/rkoutnik"><i class="fa fa-twitter wow bounceIn"></i></a>
          <a href="https://github.com/SomeKittens"><i class="fa fa-github wow bounceIn"></i></a>
        </div>
        <img src="http://midwestjs.com/api/speakerImage/216" alt="Randall Koutnik" class="img-responsive">
      </div>
      <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 wow fadeInUp" data-wow-delay="0.2s">
        <h2>Keynote Speaker</h2>
        <h3>Randall Koutnik</h3>
        <h4>Level 13 JavaScript Wizard</h4>
        <p>Randall writes too much JavaScript, mostly at companies ranging from tiny startups to Netflix.  He's the author of <a target="null" href="https://pragprog.com/book/rkrxjs/build-reactive-websites-with-rxjs">Build Reactive Websites with RxJS</a></p>
        <p>Let's talk about how bad software gets made (and what we can do to fix it)!</p>
      </div>
    </div>
    </div>
  </div>
  <div class="container container-speaker" id="main-content">
    <div class="row">
      <div class="speaker-details col-sm-6 col-xs-12" *ngFor="let speaker of speakers">
        <!-- Speaker -->
        <div class="col-sm-6 col-sm-offset-0 col-xs-8 wow fadeInUp">
          <!-- Speaker social links -->
          <div class="speaker-social-links text-center">
            <a href="{{speaker.twitter}}"><i class="fa fa-twitter wow bounceIn"></i></a>
            <a href="{{speaker.github}}"><i class="fa fa-github wow bounceIn"></i></a>
          </div>
          <!-- Speaker image -->
          <img src="{{speaker.image ? baseUrl+'/api/speakerImage/'+speaker.image.id : 'http://placehold.it/500x500'}}" alt="MidwestJS speaker {{speaker.fullName}}" class="img-responsive">
        </div>
        <div class="speaker-bio col-sm-6 col-sm-offset-0 col-xs-8 wow fadeInUp" data-wow-delay="0.2s">
          <!-- Speaker name -->
          <h2>{{speaker.fullName | substring:20}}</h2>
          <!-- Speaker position -->
          <h4>{{speaker.employer | substring:25}}</h4>
          <!-- Speaker description -->
          <p>{{speaker.bio}}</p>
        </div>
        <!-- End of Speaker -->
      </div>

    </div>
  </div>
</section>
<!-- End of Speakers section -->