body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    color: #666666;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

#wrap {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

a:link, a:visited {
    text-decoration: underline;
    color: #0000FF;
}

a:hover, a:active {
    text-decoration: none;
    color: #FF0000;
}

a.white:link, a.white:visited {
    text-decoration: underline;
    color: #FFFFFF;
}

a.white:hover, a.white:active {
    text-decoration: none;
    color: #FFFFFF;
}

.error {
    color: Red;
    font-weight: bold;
}

img, table, tr, td {
    border: none;
}

#content {
    margin: 125px 0 100px 0;
}
