doctype html
html
  head
    title Midwest JS Submission Confirmation
  body
    p Hi #{fullName},

    p Thank you for your speaker submission to the Midwest JS conference!  We really appreciate you being willing to present a talk!

    p We will be producing the conference schedules after the call-for-papers closes on February 28th and will notify all speakers in early March.  For your reference, here is your talk submission:

    p Title: #{talkTitle}

    p Abstract: #{talkAbstract}
    p &nbsp;
    p Thank you,
    p Midwest JS
