<!-- Registration section -->
<section id="register" class="register">
  <div class="container ticketBox">
    <div class="col-sm-12">
      <h1 class="wow fadeInUp">Tickets</h1>
      <br>
      <p>Tickets for Midwest JS 2017 will go on sale March 1st</p>
      <p>Check back here for updates prior to ticket sales!</p>
      <br>
      <button class="btn btn-default wow fadeInUp">Coming Soon! <i class="fa fa-paper-plane-o"></i></button>
    </div>
  </div>

  <!-- Map -->
  <div class="event-map wow fadeIn" data-latitude="44.9744486" data-longitude="-93.2777807">

    <!-- Map details -->
    <div class="info text-center wow bounceIn">
      <h3>University of St. Thomas - Schulze Hall</h3>
      <p>46 11th Street South <br>
        Minneapolis, MN 55403</p>
    </div>
    <div id="map" class="map"></div>
  </div>
  <!-- End of Map -->
</section>
<!-- End of Registration section -->