<!-- Registration section -->
<section id="register" class="register">
  <div class="container ticketBox">
    <div class="col-sm-12">
      <h1 class="wow fadeInUp">Location</h1>
      <p>University of St Thomas - Schulze Hall</p>
      <p>46 11th Street South, Minneapolis, MN 55403</p>
      <br>
      <a href="http://www.stthomas.edu/business/visitors/campuses/"><button class="btn btn-default wow fadeInUp">Website <i class="fa fa-paper-plane-o"></i></button></a>
    </div>
    <div class="col-sm-12">
      <br>
      <h1 class="wow fadeInUp">Parking</h1>
      <p>Harmon Public Parking Ramp</p>
      <p>25 11th Street South, Minneapolis, MN 55403</p>
      <br>
      <a href="http://www.minneapolismn.gov/parking/ramps/parking_harmon"><button class="btn btn-default wow fadeInUp">Website <i class="fa fa-paper-plane-o"></i></button></a>
      <br>
    </div>
    <div class="col-sm-12">
      <br>
      <h1 class="wow fadeInUp">Hotel</h1>
      <p>Doubletree Suites</p>
      <p>1101 LaSalle Avenue, Minneapolis, Minnesota, 55403</p>
      <br>
      <a href="https://secure3.hilton.com/en_US/dt/reservation/book.htm?inputModule=HOTEL&ctyhocn=MSPLSDT&spec_plan=CDTMDA&arrival=20170815&departure=20170819&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT"><button class="btn btn-default wow fadeInUp">Reservations <i class="fa fa-paper-plane-o"></i></button></a>
      <br>
    </div>
  </div>

  <!-- Map -->
  <div class="event-map wow fadeIn" data-latitude="44.9744486" data-longitude="-93.2777807">

    <!-- Map details -->
    <div class="info text-center wow bounceIn">
      <h3>University of St. Thomas - Schulze Hall</h3>
      <p>46 11th Street South <br>
        Minneapolis, MN 55403</p>
    </div>
    <div id="map" class="map"></div>
  </div>
  <!-- End of Map -->
</section>
<!-- End of Registration section -->