<!--Pricing section -->
<section id="cfp" class="pricing">
  <div class="pricing-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="wow fadeInUp"><a href="#cfp" data-scroll class="no-style">Call For Papers</a></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <!-- Pricing plan -->
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-xs-12 pricing-box text-center wow fadeInUp">
          <!-- Plan name -->
          <h2>Midwest JS Call 2017 Call For Papers - 1/30/2017</h2>
          <hr>
          <!-- Plan details -->
          <div class="pricing-box-content">
            <p>Submissions for presentations will be </p>
            <p>opening on Monday, January 30th.</p>
          </div>
          <hr>
          <h2><button class="btn btn-default">Opening Soon! <i class="fa fa-paper-plane-o"></i></button></h2>
        </div>
      </div>
      <!-- End of Pricing plan -->
    </div>
  </div>
</section>
<!-- End of Pricing section -->