.form-group {
    width: 500px;
    float: left;
    padding: 0 40px 0 0;
}
.section-break {
    width: 100%;
    float: left;
    clear: both;
}
input {
    color: black;
}
.radio-label {
    width: 210px;
}
.error {
    color: coral;
}
ul.tab {
    clear: both;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
ul.tab li {
    float: left;
}
ul.tab li:hover {
    background-color: #ddd;
}
ul.tab li.active {
    background-color: #ccc;
}
.nav-tabs > li.active > a:focus{
    outline: none;
}
.hidden {
    display: none;
}

.nav-tabs > li > a {
    font-size: 15px;
}

.tab-content {
    margin-top: -1px;
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
}

.track {
    margin-top: 10px;
    margin-bottom: 5px;
}