/* You can add global styles to this file, and also import other style files */
/**************************
	Table of contents

	1. General Styles
	2. Bootstrap Overrides
		2.1. Bootstrap general
		2.2. Bootstrap navbar
		2.3. Bootstrap nav-tabs
	3. Header - Home
	4. Schedule section
	5. Speakers section
	6. Pricing section
	7. Register section
	8. Supporters section
	9. Footer

	***********************
	10. Responsive Styles
		10.1 Bootstrap nabar
		10.2 Header - Home
		10.3 Schedule section
		10.4 Speakers section
		10.5 Register section
		10.6 Supporters section
		10.7 Footer


***************************/
/**************************
	1. General Styles
***************************/
*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    width: 100%;
    position: relative;
    color: #333;
    font-size: 15px;
}
section,
footer {
    padding: 8rem 0;
    background: #fff;
}
section h1 {
    margin-top: 0px;
}
img.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}
/**************************
	2. Bootstrap Overrides
**************************/
/**************************
		2.1. Bootstrap general
**************************/
* {
    border-radius: 0 !important;
}
.btn-default {
    background: transparent;
    color: #fff;
    border-color: #fff;
}
.btn-default:hover {
    background: #fff;
}
.btn {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.form-group {
    max-width: 80%;
    margin-bottom: 3rem;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select,
.form-control {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 1px solid transparent;
    color: #fff;
    font-size: 1.8rem;
    resize: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
input[type="text"] option,
input[type="email"] option,
input[type="password"] option,
input[type="tel"] option,
textarea option,
select option,
.form-control option {
    color: #333;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus,
.form-control:focus {
    background: rgba(255, 255, 255, 0);
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/**************************
		2.2. Bootstrap navbar
**************************/
.navbar {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 100%;
}
.navbar-inverse {
    margin-bottom: 0px;
}
.navbar-inverse .navbar-brand img {
    height: 30px;
    width: auto;
    margin-top: -5px;
}
/**************************
		2.3. Bootstrap nav-tabs
**************************/
.nav-tabs {
    border: none;
}
.nav-tabs > li > a {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #999;
    border: 2px solid transparent;
    border-bottom-width: 0px;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
    color: #333;
    background: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #333;
    border: 2px solid #eee;
    border-bottom-width: 0px;
    background: #eee;
}

.navbar-nav li {
    cursor: pointer;
}
/**************************
	3. Header - Home
***************************/
header {
    position: relative;
    margin-top: -20px;
    padding: 80px 0;
    display: table !important;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    color: #fff;
    background: rgba(51, 51, 51, 0.5);
}
.background-image {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
.home-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.event-name,
.event-details {
    font-weight: 300;
}
.event-name {
    margin: 2rem 0;
    font-size: 8rem;
    line-height: 6rem;
    font-weight: 400;
}
.event-details {
    display: inline-block;
    margin-top: 30px;
    border: 2px solid #fff;
    padding: 6px 15px;
    background: rgba(0, 0, 0, 0.5);
}
.event-detail-span {
    font-size: 18px;
}
#countdown {
    position: relative;
    margin-top: 100px;
    display: block;
    overflow: hidden;
    text-align: center;
}
.days,
.hours,
.minutes {
    border-right: 1px solid #fff;
}
.title {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    display: block;
    font-weight: 100;
    clear: both;
}
.digit {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
/**************************
	4. Schedule section
***************************/
#schedule {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
}
.host-words {
    margin-top: 3rem;
    font-size: 18px;
}
.schedule {
    padding: 0;
    border: 2px solid #eee;
    list-style-type: none;
}
.schedule li {
    position: relative;
    padding: 1rem;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.schedule li .time {
    color: #999;
}
.schedule li h3 {
    margin-top: 10px;
}
.schedule li p {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    width: 90%;
}
.schedule li .line {
    top: 0;
    position: absolute;
    width: 1px;
    height: 100%;
    right: 3rem;
    margin-left: -8px;
    background: #999;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.schedule li .line .bullet {
    position: absolute;
    left: -7px;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border: 1px solid #999;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.schedule li:first-child .line {
    top: 50%;
    height: 50%;
}
.schedule li:last-child .line {
    top: 0%;
    height: 50%;
}
.schedule li:last-child .line .bullet {
    bottom: 0;
}
.schedule li:not(:first-child):not(:last-child) .line .bullet {
    top: 47%;
}
.schedule li:hover,
.schedule li:focus,
.schedule li:active {
    cursor: pointer;
    background: #eee;
}
.schedule li:hover p,
.schedule li:focus p,
.schedule li:active p {
    max-height: 10rem;
    opacity: 1;
}
.schedule li:hover .line,
.schedule li:focus .line,
.schedule li:active .line {
    background: #333;
}
.schedule li:hover .line .bullet,
.schedule li:focus .line .bullet,
.schedule li:active .line .bullet {
    border-color: #333;
    background: #333;
}
/**************************
	5. Speakers section
***************************/
.speakers {
    background: rgba(255, 255, 255, 0.9);
}
.speakers h1 {
    display: inline-block;
    border: 2px solid #333;
    padding: 6px 15px;
}
.speaker-details {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.speaker-details h2 {
    margin-top: 0px;
}
.speaker-details h4 {
    color: #999;
}
.speaker-social-links {
    position: absolute;
    z-index: 2;
    bottom: 0%;
    padding: 6px 15px;
    overflow: hidden;
    background: rgba(51, 51, 51, 0.5);
}
.speaker-social-links a {
    font-size: 2rem;
    color: #fff;
    margin-right: 1.5rem;
}
.speaker-social-links a:hover {
    color: #eee;
}
/**************************
	6. Pricing section
***************************/
.pricing {
    border-top: 2px solid #eee;
    padding-top: 0px;
}
.pricing-header {
    background: #333;
    color: #fff;
    padding: 40px 0;
}
.pricing-header h1 {
    display: inline-block;
    border: 2px solid #fff;
    padding: 6px 15px;
    margin: 0;
}
.pricing-box {
    background: #fff;
    border: 2px solid #333;
    margin-top: 80px;
}
/**************************
	7. Register section
***************************/
.register {
    position: relative;
    background: #333;
    color: #fff;
    font-size: 18px;
}
.register .ticketBox{
    height: 300px;
}
.register p {
    margin: 0 0 0 5px;
}
.register .pricing-options {
    width: 100%;
}
.register .pricing-options .btn {
    min-width: 25%;
}
.register .event-map .map {
    width: 100%;
    height: 100%;
}
.register .event-map .info {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background: #fff;
    padding: 0 20px 10px;
    z-index: 99;
    border: 2px solid #333;
    color: #333;
    font-size: 50%;
}

.register .event-map h3 {
    font-size: 12px;
}
/**************************
	8. Supporters section
***************************/
.supporters h1 {
    display: inline-block;
    border: 2px solid #333;
    padding: 6px 15px;
}
.supporter {
    height: 150px;
    margin-top: 3rem;
}
.supporter img {
    position: relative;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
/**************************
	9. Footer
***************************/
footer {
    color: #fff;
    background: #333;
}
footer h3 {
    margin-top: 0px;
}
.social-btn {
    display: inline-block;
    padding: .5rem 1rem;
    color: #fff;
    line-height: 4rem;
    text-align: center;
    font-size: 3rem;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.social-btn.mail {
    border: 1px solid #fff;
}
.social-btn.facebook {
    background: #3b5998;
}
.social-btn.twitter {
    background: #00aced;
}
.social-btn.linkedin {
    background: #007bb6;
}
.social-btn.google-plus {
    background: #dd4b39;
}
.social-btn:hover {
    color: #ccc;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.social-btn i {
    width: 30px;
}
/**************************
	10. Responsive Styles
***************************/
/**************************
		10.1 Bootstrap nabar
***************************/
/* Medium and large devices - tablets, laptops & desktops */
@media screen and (min-width: 767px) {
    .navbar-inverse {
        background: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    .navbar-inverse * {
        color: #fff !important;
    }
    .navbar-inverse li {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .navbar-inverse li:hover {
        border-bottom: 1px solid #ffffff;
    }
    .navbar-inverse li.active > a {
        background-color: transparent !important;
    }
}
/* Small devices - small tablets & mobile phones */
@media screen and (max-width: 767px) {
    .navbar-inverse ul.navbar-nav {
        text-align: center;
    }
}
/**************************
		10.2 Header - Home
***************************/
/* Small devices - small tablets & mobile phones */
@media screen and (max-width: 767px) {
    .background-image {
        position: absolute;
    }
}
@media screen and (max-width: 550px) {
    .event-name {
        font-size: 6rem;
    }
    .event-details {
        font-size: 2rem;
    }
    .digit {
        font-size: 15px;
    }
    .title {
        font-size: 14px;
    }
}
/**************************
		10.3 Speakers section
***************************/
@media screen and (max-width: 767px) {
    .speakers {
        background: #eee;
    }
    .speaker-details {
        text-align: center;
    }
}
/**************************
		10.4 Schedule section
***************************/
@media screen and (max-width: 767px) {
    .speaker-details h2 {
        margin-top: 1rem;
    }
    .speaker-details h2,
    .speaker-details h4 {
        text-align: center;
    }
    .schedule {
        border: none;
    }
    .schedule li {
        padding: 2rem 0 0 0;
    }
    .schedule li .line {
        display: none;
    }
    .schedule li p {
        max-height: none !important;
        opacity: 1;
        width: 100%;
    }
    .schedule li:hover {
        background: none;
        cursor: default;
    }
}
/**************************
		10.5 Register section
***************************/
/* Medium and large devices - tablets, laptops & desktops */
@media screen and (min-width: 767px) {
    .event-map {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        right: 0;
        -webkit-transition: 1s ease;
        -moz-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease;
    }
}
/* Small devices - small tablets & mobile phones */
@media screen and (max-width: 767px) {
    .register {
        padding-bottom: 0px;
    }
    .register .form-group {
        max-width: none;
    }
    .event-map {
        position: relative;
        display: block;
        width: 100%;
        height: 400px;
        margin-top: 3rem;
    }
    .event-map .info {
        bottom: 0rem !important;
        right: 0rem !important;
        width: 100%;
        border-left-width: 0px !important;
        border-right-width: 0px !important;
    }
}
/**************************
		10.6 Supporters section
***************************/
/* Small devices - small tablets & mobile phones */
@media screen and (max-width: 550px) {
    .supporter {
        display: block;
        height: 100px;
    }
}
/**************************
		10.7 Footer
***************************/
@media screen and (max-width: 767px) {
    .social-btn {
        padding: 0;
        line-height: 3.5rem;
        font-size: 2rem;
    }
}
/**************************
	END
**************************/

/**************************
		10.8 Modals
***************************/

img.modal-logo {
    max-height: 40px;
    float: right;
    margin: 0 25px 0 0;
}

/**************************
	END
**************************/

a.no-style {
    color: white;
}

a.no-style:hover {
    text-decoration: none;
    color: white;
}

img.hand {
    cursor: pointer;
}

modal.modal-wide .modal-dialog {
    width: 60%;
}
modal-wide .modal-body {
    overflow-y: auto;
}

a.sponsor-website {
    margin-top: 5px;
    float: left;
}