<!-- Top navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../../images/midwestjs-logo-400-bw-150.png" alt="MidwestJS" class="img-responsive grayscale">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <!-- Navigation items -->
      <ul class="nav navbar-nav navbar-right">
        <!-- data scroll attribute provides that page scrolls down to
            selected section when element is clicked -->
        <li> <a href="#home" data-scroll>HOME</a> </li>
        <!--
        <li> <a href="#schedule" data-scroll>SCHEDULE</a> </li>
        <li> <a href="#speakers" data-scroll>SPEAKERS</a> </li>
        -->
        <li> <a href="#cfp" data-scroll>CFP</a> </li>
        <li> <a href="#register" data-scroll>VENUE</a> </li>
        <li> <a href="#tickets" data-scroll>TICKETS</a> </li>
        <li> <a href="#supporters" data-scroll>SPONSORS</a> </li>
        <li (click)="conductModal.open()"> <a>CONDUCT</a> </li>
        <li (click)="contactModal.open()"> <a><i class="fa fa-envelope"></i></a> </li>
        <li> <a href="https://twitter.com/midwest_js"><i class="fa fa-twitter"></i></a> </li>
        <li> <a href="https://github.com/midwestjs"><i class="fa fa-github"></i></a> </li>
      </ul>
      <!-- End of Navigation items -->
    </div>
  </div>
</nav>

<modal #contactModal class="modal-wide">
  <modal-header>
    <h1>By the community, For the community</h1>
  </modal-header>
  <modal-content>

    <h5>Midwest JS is organized and run by members of the JavaScript community in their spare time.</h5>

    <div class="row contact-channels">
      <div class="col-md-4">
        <h3>Email</h3>
        <a href="mailto:cory.tranby@gmail.com"><i class="fa fa-envelope largeIcon"></i></a>
        <p>Please contact <a href="mailto:cory.tranby@gmail.com">Cory Tranby</a> for more information about the conference.</p>
      </div>
      <div class="col-md-4">
        <h3>Slack</h3>
        <a href="https://midwestjs-slack.herokuapp.com/"><i class="fa fa-slack largeIcon"></i></a>
        <p>Midwest JS has a Slack channel. You can request access <a href="https://midwestjs-slack.herokuapp.com/">here</a>.</p>
      </div>
      <div class="col-md-4">
        <h3>Twitter</h3>
        <a href="https://twitter.com/midwest_js"><i class="fa fa-twitter largeIcon"></i></a>
        <p>The Midwest JS Twitter handle is <a href="https://twitter.com/midwest_js">@Midwest_JS</a></p>
      </div>
    </div>


  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="contactModal.close()">close</button>
  </modal-footer>
</modal>

<modal #conductModal class="modal-wide">
  <modal-header>
    <h1>Midwest JS - Code of Conduct</h1>
  </modal-header>
  <modal-content>
    All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct.
    Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.
    <br>
    <br>
    Need Help?
    <br>
    Please send all questions, comments and concerns to <a href="mailto:cory.tranby@gmail.com">Cory Tranby</a>.
    <br><br>
    <h5>The Quick Version</h5>
    Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion.
    We do not tolerate harassment of conference participants in any form.
    Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter, Slack and other online media.
    Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.
    <br><br>
    <h5>The Less Quick Version</h5>
    Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
    <br><br>
    Participants asked to stop any harassing behavior are expected to comply immediately.
    <br><br>
    Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.
    <br><br>
    If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.
    <br><br>
    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they'll be wearing branded t-shirts.
    <br><br>
    Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
    <br><br>
    We expect participants to follow these rules at conference and workshop venues and conference-related social events.
  </modal-content>
  <modal-footer>
    <span><h5 class="pull-left">tl;dr: Don’t be a Jerk</h5></span>
    <button class="btn btn-primary" (click)="conductModal.close()">close</button>
  </modal-footer>
</modal>
<!-- End of Top navigation -->