<!-- Top navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../../images/eve.png" alt="Eve" class="img-responsive">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <!-- Navigation items -->
      <ul class="nav navbar-nav navbar-right">
        <!-- data scroll attribute provides that page scrolls down to
            selected section when element is clicked -->
        <li> <a href="#home" data-scroll>HOME</a> </li>
        <li> <a href="#schedule" data-scroll>SCHEDULE</a> </li>
        <li> <a href="#speakers" data-scroll>SPEAKERS</a> </li>
        <li> <a href="#register" data-scroll>REGISTER</a> </li>
        <li> <a href="#supporters" data-scroll>SUPPORTED BY</a> </li>
        <li> <a href="#"><i class="fa fa-envelope"></i></a> </li>
        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
        <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
        <li> <a href="#"><i class="fa fa-google-plus"></i></a> </li>
      </ul>
      <!-- End of Navigation items -->
    </div>
  </div>
</nav>
<!-- End of Top navigation -->