<!-- Schedule section -->
<section id="schedule">
  <div class="container">

    <!-- Word Of Host section -->
    <div class="col-sm-6">
      <h1 class="wow fadeInUp">Word Of Host</h1>
      <p class="host-words wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, delectus, minima. Quia quis assumenda ad, corporis quibusdam, modi molestiae. Modi soluta a et qui necessitatibus, esse, molestiae veritatis voluptatum libero!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati cum tempore, reprehenderit nulla maiores nam voluptatum porro ipsam doloribus a. Ab quod fugiat atque obcaecati suscipit ea explicabo magnam nisi?</p>

      <!-- Host image and details -->
      <div class="speaker-details ">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 wow fadeInUp">
            <div class="speaker-social-links text-center">
              <a href="#"><i class="fa fa-twitter wow bounceIn"></i></a>
              <a href="#"><i class="fa fa-linkedin wow bounceIn"></i></a>
            </div>
            <img src="http://placehold.it/500x500" alt="John Doe" class="img-responsive">
          </div>
          <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 wow fadeInUp" data-wow-delay="0.2s">
            <h2>John Doe</h2>
            <h4>CEO of Eve Inc.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum praesentium obcaecati minus quod. Quod, dolor ratione, necessitatibus impedit beatae dolore. Debitis eius magni saepe ex eligendi nemo similique quisquam dignissimos.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Word Of Host section -->

    <!-- Schedule -->
    <div class="col-sm-6 wow fadeInUp">
      <div role="tabpanel">
        <!-- Days -->
        <ul class="nav nav-tabs" role="tablist" id="schedule-tabs">
          <li role="presentation" class="active">
            <a href="#day-1" aria-controls="day-1" role="tab" data-toggle="tab">Day 1</a>
          </li>
          <li role="presentation"><a href="#day-2" aria-controls="day-2" role="tab" data-toggle="tab">Day 2</a>
          </li>
          <li role="presentation"><a href="#day-3" aria-controls="day-3" role="tab" data-toggle="tab">Day 3</a>
          </li>
        </ul>

        <!-- Daily schedule -->
        <div class="tab-content">

          <!-- Day 1 schedule -->
          <div role="tabpanel" class="tab-pane fade in active" id="day-1">
            <ul class="schedule">

              <!--Schedule item -->
              <li>
                <!-- Schedule item time -->
                <h4 class="time">10.30AM - 11.00AM</h4>
                <!-- Schedule item name -->
                <h3>Quasi voluptas</h3>
                <!-- Schedule item description -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas error sunt quis voluptate officia vitae blanditiis rem laborum explicabo, et eaque ducimus voluptates ipsam perspiciatis odio numquam pariatur dignissimos?</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">11.00AM - 12.30PM</h4>
                <h3>Lorem ipsum </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum possimus sint totam est recusandae exercitationem autem, fugiat magnam repellendus provident nobis quam illo explicabo, doloribus earum vitae soluta repellat, atque.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">12.30PM - 1.00PM</h4>
                <h3>Consectetur adipisicing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quisquam neque laboriosam veniam aut vel unde nostrum! Doloremque, distinctio, voluptas cum sit placeat ducimus cumque et minus, magni unde explicabo.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">1.00PM - 2.00PM</h4>
                <h3>Minima nisi deserunt</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quas quia beatae, velit voluptatem inventore odio culpa mollitia deleniti. Minima nisi deserunt accusantium atque ratione nam voluptate necessitatibus quod cum.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>
            </ul>
          </div>
          <!-- End of Day 1 schedule -->


          <!-- Day 2 schedule -->
          <div role="tabpanel" class="tab-pane fade" id="day-2">
            <ul class="schedule">
              <!--Schedule item -->
              <li>
                <!-- Schedule item time -->
                <h4 class="time">10.30AM - 11.00AM</h4>
                <!-- Schedule item name -->
                <h3>Quasi voluptas</h3>
                <!-- Schedule item description -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas error sunt quis voluptate officia vitae blanditiis rem laborum explicabo, et eaque ducimus voluptates ipsam perspiciatis odio numquam pariatur dignissimos?</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">11.00AM - 12.30PM</h4>
                <h3>Lorem ipsum </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum possimus sint totam est recusandae exercitationem autem, fugiat magnam repellendus provident nobis quam illo explicabo, doloribus earum vitae soluta repellat, atque.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">12.30PM - 1.00PM</h4>
                <h3>Consectetur adipisicing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quisquam neque laboriosam veniam aut vel unde nostrum! Doloremque, distinctio, voluptas cum sit placeat ducimus cumque et minus, magni unde explicabo.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">1.00PM - 2.00PM</h4>
                <h3>Minima nisi deserunt</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quas quia beatae, velit voluptatem inventore odio culpa mollitia deleniti. Minima nisi deserunt accusantium atque ratione nam voluptate necessitatibus quod cum.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>
            </ul>
          </div>
          <!-- End of Day 2 schedule -->


          <!-- Day 3 schedule -->
          <div role="tabpanel" class="tab-pane fade" id="day-3">
            <ul class="schedule">
              <!--Schedule item -->
              <li>
                <!-- Schedule item time -->
                <h4 class="time">10.30AM - 11.00AM</h4>
                <!-- Schedule item name -->
                <h3>Quasi voluptas</h3>
                <!-- Schedule item description -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptas error sunt quis voluptate officia vitae blanditiis rem laborum explicabo, et eaque ducimus voluptates ipsam perspiciatis odio numquam pariatur dignissimos?</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">11.00AM - 12.30PM</h4>
                <h3>Lorem ipsum </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum possimus sint totam est recusandae exercitationem autem, fugiat magnam repellendus provident nobis quam illo explicabo, doloribus earum vitae soluta repellat, atque.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">12.30PM - 1.00PM</h4>
                <h3>Consectetur adipisicing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quisquam neque laboriosam veniam aut vel unde nostrum! Doloremque, distinctio, voluptas cum sit placeat ducimus cumque et minus, magni unde explicabo.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>

              <!--Schedule item -->
              <li>
                <h4 class="time">1.00PM - 2.00PM</h4>
                <h3>Minima nisi deserunt</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quas quia beatae, velit voluptatem inventore odio culpa mollitia deleniti. Minima nisi deserunt accusantium atque ratione nam voluptate necessitatibus quod cum.</p>
                <span class="line"><span class="bullet"></span></span>
              </li>
            </ul>
          </div>
          <!-- End of Day 3 schedule -->
        </div>
        <!-- End of Daily schedule -->
      </div>
    </div>
    <!-- End of Schedule -->
  </div>
</section>
<!-- End of Schedule section -->