h3 {
    font-size: 20px;
}
ul {
    font-size: 18px;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
span.talk-title {
    display: block;
    font-weight: 500;
}
span.talk-speaker {
    display: block;
    clear: both;
}
span.talk-room {
    display: block;
}
span.talk-track {
    display: block;
    clear: both;
    font-weight: normal;
}
span.abstract {
    padding: 15px;
}
img.bio-image {
    height: 250px;
    width: 250px;
}
.speaker-panel {
    min-height: 300px;
}
.detail-box {
    padding: 10px;
}
.table th,td {
    text-align: center;
}
.table th.session-time {
    width: 50px;
}
.table th.session-room {
    width: 200px;
}
.table tr.table-active {
    background-color: rgba(0,0,0,.075);
}
.table td.talk-detail:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.075);
}
.schedule {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
