<!--Pricing section -->
<section id="tickets" class="pricing">
  <div class="pricing-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="wow fadeInUp"><a href="#tickets" data-scroll class="no-style">Tickets</a></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <!-- Pricing plan -->
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-xs-12 pricing-box text-center wow fadeInUp">
          <!-- Plan name -->
          <h2>Midwest JS 2017 Ticket Sales</h2>
          <hr>
          <!-- Plan details -->
          <div class="pricing-box-content">
            <p>Tickets are now on sale!</p>
            <p>Early Bird pricing is available</p>
            <p>for the first 200 customers.</p>
          </div>
          <hr>
          <h2><button class="btn btn-default" (click)="sendToTito()">Register Here <i class="fa fa-paper-plane-o"></i></button></h2>
        </div>
      </div>
      <!-- End of Pricing plan -->
    </div>
  </div>
</section>
<!-- End of Pricing section -->