.largeIcon {
    font-size: 10em;
}

.contact-channels {
    text-align: center;
}

.contact-channels a i {
    color: #603813;
}

span.contact {
    color: #337ab7;
}

span.contact:hover {
    cursor: pointer;
}

.supporters h1 {
    display: inline-block;
    border: 2px solid #fff;
    padding: 6px 15px;
    margin: 0;
}

.braintree-logo {
    margin: 18px 0 0 0;
}